<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.min.js"></script>

    <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <title>FitHub</title>
</head>
<body>
    <section id="sub-header"> 
    <div class="sub-banner">
        <div class="navbar">
            <img src="/images/logo.svg" class="logo" alt="Fithub">
            <ul class="nav-links">
                <li><a href="/">Services</a></li>
                
                <li><a href="#">Feedback</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </div>

    </div>

    <h1>Contact Us</h1>
    </section>

    <section id="location">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.5717292991953!2d77.53350087454605!3d12.
        93522461567585!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae3e468d8d36d3%3A0x694d74f6ac640acf!2sPES%20University!5e0!3m2!1sen!2sin!4v1699159918221!5m2!1sen!2sin" 
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>
    
    <section id="contact-us">
        <div class="row">
            <div class="contact-col">
                <div>
                    <i class="fa fa-home"></i>
                    <span><h5>PES University Ring Road Campus</h5>
                    <p>Bangalore Karnataka</p></span>
                    
                </div>
                <div>
                    <i class="fa fa-phone"></i>
                   <span><h5>+91 0123456789</h5>
                    <p>Monday to Saturday,10am to 6pm</p></span> 
                    
                </div>
                <div>
                    <i class="fa fa-envelope"></i>
                    <span><h5>pes@pesu.edu.com</h5>
                    <p>Email us your query</p></span>
                </div>
                
            </div>
            <div class="contact-col">
                <form action="">
                    <input type="text" placeholder="Enter your name"required>
                    <input type="email" placeholder="Enter email address"required>
                    
                    <textarea  rows="8" placeholder="Message"></textarea>
                    <button type="submit" class="button-link btn-black">Send Message</button>
                </form>
            </div> 
        </div>
    </section>

    <section id="footerc">
        <h3>About Us</h4>
        <p>kdhfkshfhsh</p>
        <div class="icons">
            <i class="fa fab fa-facebook"></i>
            <i class="fa fab fa-twitter"></i>
            <i class="fa fab fa-instagram"></i>
            <i class="fa fab fa-linkedin"></i>
        </div>
        <p>Made by PES1UG22CS611 and PES1UG22CS580</p>
    </section>
        
</body>
</html>